<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.usitrip.dao.ChineseinlaForumMapper">
    <select id="selectAllForum" resultType="com.usitrip.pojo.ChineseinlaForum">
        SELECT
            ID,
            category,
            content
        FROM
            nychinaren_forum
    </select>
</mapper>